.language-dropdown {
    width: 520px;
    margin: 11px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 5px;
box-shadow: 0 0 12px rgba(255, 255, 255, 0.25),
        0 0 20px rgba(255, 255, 255, 0.05) inset;

}